<p>
  <strong>Party Size:</strong>
  <%= reservation.party_size %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= reservation.start %>
</p>

<p>
  <strong>End Time:</strong>
  <%= reservation.end_time %>
</p>
