// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info-container {
  height: 300px;
  padding: 60px;
  margin-top: 60px;
  background-color: #e6ffff;
  vertical-align: middle;
}

.info-container p, .info-container h3, .info-container h4 {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.info-bar {
  display: block;
  width: auto;
}

.reservation-btn {
  margin: 60px;
}

.restaurant-title {
  margin: 60px;
}
