<nav class = "navbar navbar-default admin-navbar" role = "navigation">
   <div class = "navbar-header">
      <a class = "navbar-brand" href = "/">Fancy New Restaurant</a>
   </div>

   <div>
      <ul class = "nav navbar-nav">
         <li><%= link_to('Manage Tables', tables_path) %></li>
         <li><%= link_to('View Reservations', reservations_path) %></li>
      </ul>
   </div>
</nav>
